.login-background {
  background-color: #19242c;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.7;
  }
  h6 {
    color: #ccd;
    position: absolute;
    font-size: 0.8rem;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 300;
  }
}

.landing-jpg {
  height: 45%;
  background-image: url("../../assets/landing.jpg");
  background-size: cover;
  background-position: center;
}

.landing-login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  justify-content: center;

  input {
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
  }

  button {
    background-color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 0.5rem auto;
    color: #333;
    &:hover {
      background-color: rgb(201, 201, 201);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px){
.landing-jpg {
  background-image: url("../../assets/landing-small-min.jpg");
}
}